/* Import Tailwind CSS framework */
@import "tailwindcss";

/* Configure Tailwind.config.js (if you don't want to use the new CSS Tailwind config) */
@config "../tailwind.config.js";

/* Import GCDS tokens */
@import "@gcds-core/tokens/build/web/css/tokens.css";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--gcds-border-default);
  }

  /* Prevent mobile overflow */
  body,
  html {
    overflow-x: hidden;
    width: 100%;
  }

  .text {
    font-size: var(--gcds-font-sizes-text);
  }

  /* ----- Default GCDS typography styles ----- */
  body {
    font: var(--gcds-font-text);
  }

  @media only screen and (width < 48em) {
    body {
      font: var(--gcds-font-text-mobile);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
    margin-block-end: var(--gcds-heading-spacing-300);
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-start: var(--gcds-heading-spacing-600);
  }

  h1 {
    max-width: var(--gcds-heading-character-limit-h1);
    font: var(--gcds-heading-h1-desktop);
    margin-block-start: var(--gcds-heading-spacing-0);
  }

  h1:after {
    display: block;
    content: "";
    width: var(--gcds-heading-h1-border-width);
    margin-block-start: var(--gcds-heading-h1-border-margin);
    height: var(--gcds-heading-h1-border-height);
    background-color: var(--gcds-heading-h1-border-background);
  }

  @media only screen and (width < 48em) {
    h1 {
      font: var(--gcds-heading-h1-mobile);
    }
  }

  h2 {
    max-width: var(--gcds-heading-character-limit-h2);
    font: var(--gcds-heading-h2-desktop);
  }

  @media only screen and (width < 48em) {
    h2 {
      font: var(--gcds-heading-h2-mobile);
    }
  }

  h3 {
    max-width: var(--gcds-heading-character-limit-h3);
    font: var(--gcds-heading-h3-desktop);
  }

  @media only screen and (width < 48em) {
    h3 {
      font: var(--gcds-heading-h3-mobile);
    }
  }

  h4 {
    max-width: var(--gcds-heading-character-limit-h4);
    font: var(--gcds-heading-h4-desktop);
  }

  @media only screen and (width < 48em) {
    h4 {
      font: var(--gcds-heading-h4-mobile);
    }
  }

  h5 {
    max-width: var(--gcds-heading-character-limit-h5);
    font: var(--gcds-heading-h5-desktop);
  }

  @media only screen and (width < 48em) {
    h5 {
      font: var(--gcds-heading-h5-mobile);
    }
  }

  h6 {
    max-width: var(--gcds-heading-character-limit-h6);
    font: var(--gcds-heading-h6-desktop);
  }

  @media only screen and (width < 48em) {
    h6 {
      font: var(--gcds-heading-h6-mobile);
    }
  }

  p {
    max-width: var(--gcds-text-character-limit);
    font: var(--gcds-font-text);
    margin-block-start: var(--gcds-heading-spacing-0);
    margin-block-end: var(--gcds-heading-spacing-300);
  }

  @media only screen and (width < 48em) {
    p {
      font: var(--gcds-font-text-mobile);
    }
  }
}
